<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Biblioteca - WoMakersCode </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

  <body style="background-color:#FFFAF0;">

    
<div class="container">

    <div class="row">
    
        <div class="col-md-3">
        </div>

        <div class="col-md">
            <br>
            <h1>Tabela de Clientes </h1>
        <hr>
        {% if clientes %}
        {% for cliente in clientes %}
        <p>Nome: {{cliente.nome}} 
        <p>Email: {{cliente.email}} </p>
        <p>CPF: {{cliente.cpf}}
            <br>
        ♥-♥-♥-♥-♥-♥-♥-♥-♥-♥-♥-♥-♥-♥-♥-♥
        </p>
    {% endfor %}
    {% else %}
    <div class="alert alert-danger" role="alert">
            <h2>Não há pessoas cadastradas.</h2>
    </div>
    {% endif %}

        </div>

        <div class="col-md-3" align="center">
        </div>
                
    </div>
  
</div>


  <footer class="text-center text-white fixed-bottom" style="background-color: #DB7093;">
    <!-- Grid container -->
    <div class="container p-1"></div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: #8B008B;">
      © 2022 Copyright
      <p class="text-white" href="https://mdbootstrap.com/">Biblioteca Clientes- DJANGO - Projeto 2 ♥ 
        ContruDelas 2 - WoMakersCode Project - By Naira Nascimento</p>
    </div>
    <!-- Copyright -->
  </footer>
  </body>
</html>